KB_Guadalupana/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarcredito">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="variablebusqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarcreditoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarcreditoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarresponsables">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="variabledebusqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarresponsablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarresponsablesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarcreditosasociados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="valordebusqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarcreditosasociadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarcreditosasociadosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarcreditoporcif">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="valordebusqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarcreditoporcifResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarcreditoporcifResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarcreditoexpedientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="variablebusqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarcreditoexpedientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarcreditoexpedientesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="buscarcreditoSoapIn">
    <wsdl:part name="parameters" element="tns:buscarcredito" />
  </wsdl:message>
  <wsdl:message name="buscarcreditoSoapOut">
    <wsdl:part name="parameters" element="tns:buscarcreditoResponse" />
  </wsdl:message>
  <wsdl:message name="buscarresponsablesSoapIn">
    <wsdl:part name="parameters" element="tns:buscarresponsables" />
  </wsdl:message>
  <wsdl:message name="buscarresponsablesSoapOut">
    <wsdl:part name="parameters" element="tns:buscarresponsablesResponse" />
  </wsdl:message>
  <wsdl:message name="buscarcreditosasociadosSoapIn">
    <wsdl:part name="parameters" element="tns:buscarcreditosasociados" />
  </wsdl:message>
  <wsdl:message name="buscarcreditosasociadosSoapOut">
    <wsdl:part name="parameters" element="tns:buscarcreditosasociadosResponse" />
  </wsdl:message>
  <wsdl:message name="buscarcreditoporcifSoapIn">
    <wsdl:part name="parameters" element="tns:buscarcreditoporcif" />
  </wsdl:message>
  <wsdl:message name="buscarcreditoporcifSoapOut">
    <wsdl:part name="parameters" element="tns:buscarcreditoporcifResponse" />
  </wsdl:message>
  <wsdl:message name="buscarcreditoexpedientesSoapIn">
    <wsdl:part name="parameters" element="tns:buscarcreditoexpedientes" />
  </wsdl:message>
  <wsdl:message name="buscarcreditoexpedientesSoapOut">
    <wsdl:part name="parameters" element="tns:buscarcreditoexpedientesResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarcredito">
      <wsdl:input message="tns:buscarcreditoSoapIn" />
      <wsdl:output message="tns:buscarcreditoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarresponsables">
      <wsdl:input message="tns:buscarresponsablesSoapIn" />
      <wsdl:output message="tns:buscarresponsablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarcreditosasociados">
      <wsdl:input message="tns:buscarcreditosasociadosSoapIn" />
      <wsdl:output message="tns:buscarcreditosasociadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarcreditoporcif">
      <wsdl:input message="tns:buscarcreditoporcifSoapIn" />
      <wsdl:output message="tns:buscarcreditoporcifSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarcreditoexpedientes">
      <wsdl:input message="tns:buscarcreditoexpedientesSoapIn" />
      <wsdl:output message="tns:buscarcreditoexpedientesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarcredito">
      <soap:operation soapAction="http://tempuri.org/buscarcredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarresponsables">
      <soap:operation soapAction="http://tempuri.org/buscarresponsables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarcreditosasociados">
      <soap:operation soapAction="http://tempuri.org/buscarcreditosasociados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarcreditoporcif">
      <soap:operation soapAction="http://tempuri.org/buscarcreditoporcif" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarcreditoexpedientes">
      <soap:operation soapAction="http://tempuri.org/buscarcreditoexpedientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarcredito">
      <soap12:operation soapAction="http://tempuri.org/buscarcredito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarresponsables">
      <soap12:operation soapAction="http://tempuri.org/buscarresponsables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarcreditosasociados">
      <soap12:operation soapAction="http://tempuri.org/buscarcreditosasociados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarcreditoporcif">
      <soap12:operation soapAction="http://tempuri.org/buscarcreditoporcif" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarcreditoexpedientes">
      <soap12:operation soapAction="http://tempuri.org/buscarcreditoexpedientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://10.60.81.3/Web-Service/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://10.60.81.3/Web-Service/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>