KB_Guadalupana/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarcredito">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="variablebusqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarcreditoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarcreditoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarresponsables">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="variabledebusqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarresponsablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarresponsablesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarcreditosasociados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="valordebusqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarcreditosasociadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarcreditosasociadosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarcreditoporcif">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="valordebusqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarcreditoporcifResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarcreditoporcifResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarcreditoexpedientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="variablebusqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarcreditoexpedientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarcreditoexpedientesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarconsultacolocacionesnegocios">
        <s:complexType />
      </s:element>
      <s:element name="cargarconsultacolocacionesnegociosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargarconsultacolocacionesnegociosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarconsultacaptacionesnegocios">
        <s:complexType />
      </s:element>
      <s:element name="cargarconsultacaptacionesnegociosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargarconsultacaptacionesnegociosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarconsultagistoricocolocaciones">
        <s:complexType />
      </s:element>
      <s:element name="cargarconsultagistoricocolocacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargarconsultagistoricocolocacionesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarconsultagistorrecuperacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fecha1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarconsultagistorrecuperacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargarconsultagistorrecuperacionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarconsultagistoricocolo">
        <s:complexType />
      </s:element>
      <s:element name="cargarconsultagistoricocoloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargarconsultagistoricocoloResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarconsultacantidadregistrocolocaciones">
        <s:complexType />
      </s:element>
      <s:element name="cargarconsultacantidadregistrocolocacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargarconsultacantidadregistrocolocacionesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarconsultacantidadregistrocaptaciones">
        <s:complexType />
      </s:element>
      <s:element name="cargarconsultacantidadregistrocaptacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargarconsultacantidadregistrocaptacionesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarconsultacantidadregistrorecuperacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fecha1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarconsultacantidadregistrorecuperacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargarconsultacantidadregistrorecuperacionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="buscarcreditoSoapIn">
    <wsdl:part name="parameters" element="tns:buscarcredito" />
  </wsdl:message>
  <wsdl:message name="buscarcreditoSoapOut">
    <wsdl:part name="parameters" element="tns:buscarcreditoResponse" />
  </wsdl:message>
  <wsdl:message name="buscarresponsablesSoapIn">
    <wsdl:part name="parameters" element="tns:buscarresponsables" />
  </wsdl:message>
  <wsdl:message name="buscarresponsablesSoapOut">
    <wsdl:part name="parameters" element="tns:buscarresponsablesResponse" />
  </wsdl:message>
  <wsdl:message name="buscarcreditosasociadosSoapIn">
    <wsdl:part name="parameters" element="tns:buscarcreditosasociados" />
  </wsdl:message>
  <wsdl:message name="buscarcreditosasociadosSoapOut">
    <wsdl:part name="parameters" element="tns:buscarcreditosasociadosResponse" />
  </wsdl:message>
  <wsdl:message name="buscarcreditoporcifSoapIn">
    <wsdl:part name="parameters" element="tns:buscarcreditoporcif" />
  </wsdl:message>
  <wsdl:message name="buscarcreditoporcifSoapOut">
    <wsdl:part name="parameters" element="tns:buscarcreditoporcifResponse" />
  </wsdl:message>
  <wsdl:message name="buscarcreditoexpedientesSoapIn">
    <wsdl:part name="parameters" element="tns:buscarcreditoexpedientes" />
  </wsdl:message>
  <wsdl:message name="buscarcreditoexpedientesSoapOut">
    <wsdl:part name="parameters" element="tns:buscarcreditoexpedientesResponse" />
  </wsdl:message>
  <wsdl:message name="cargarconsultacolocacionesnegociosSoapIn">
    <wsdl:part name="parameters" element="tns:cargarconsultacolocacionesnegocios" />
  </wsdl:message>
  <wsdl:message name="cargarconsultacolocacionesnegociosSoapOut">
    <wsdl:part name="parameters" element="tns:cargarconsultacolocacionesnegociosResponse" />
  </wsdl:message>
  <wsdl:message name="cargarconsultacaptacionesnegociosSoapIn">
    <wsdl:part name="parameters" element="tns:cargarconsultacaptacionesnegocios" />
  </wsdl:message>
  <wsdl:message name="cargarconsultacaptacionesnegociosSoapOut">
    <wsdl:part name="parameters" element="tns:cargarconsultacaptacionesnegociosResponse" />
  </wsdl:message>
  <wsdl:message name="cargarconsultagistoricocolocacionesSoapIn">
    <wsdl:part name="parameters" element="tns:cargarconsultagistoricocolocaciones" />
  </wsdl:message>
  <wsdl:message name="cargarconsultagistoricocolocacionesSoapOut">
    <wsdl:part name="parameters" element="tns:cargarconsultagistoricocolocacionesResponse" />
  </wsdl:message>
  <wsdl:message name="cargarconsultagistorrecuperacionSoapIn">
    <wsdl:part name="parameters" element="tns:cargarconsultagistorrecuperacion" />
  </wsdl:message>
  <wsdl:message name="cargarconsultagistorrecuperacionSoapOut">
    <wsdl:part name="parameters" element="tns:cargarconsultagistorrecuperacionResponse" />
  </wsdl:message>
  <wsdl:message name="cargarconsultagistoricocoloSoapIn">
    <wsdl:part name="parameters" element="tns:cargarconsultagistoricocolo" />
  </wsdl:message>
  <wsdl:message name="cargarconsultagistoricocoloSoapOut">
    <wsdl:part name="parameters" element="tns:cargarconsultagistoricocoloResponse" />
  </wsdl:message>
  <wsdl:message name="cargarconsultacantidadregistrocolocacionesSoapIn">
    <wsdl:part name="parameters" element="tns:cargarconsultacantidadregistrocolocaciones" />
  </wsdl:message>
  <wsdl:message name="cargarconsultacantidadregistrocolocacionesSoapOut">
    <wsdl:part name="parameters" element="tns:cargarconsultacantidadregistrocolocacionesResponse" />
  </wsdl:message>
  <wsdl:message name="cargarconsultacantidadregistrocaptacionesSoapIn">
    <wsdl:part name="parameters" element="tns:cargarconsultacantidadregistrocaptaciones" />
  </wsdl:message>
  <wsdl:message name="cargarconsultacantidadregistrocaptacionesSoapOut">
    <wsdl:part name="parameters" element="tns:cargarconsultacantidadregistrocaptacionesResponse" />
  </wsdl:message>
  <wsdl:message name="cargarconsultacantidadregistrorecuperacionSoapIn">
    <wsdl:part name="parameters" element="tns:cargarconsultacantidadregistrorecuperacion" />
  </wsdl:message>
  <wsdl:message name="cargarconsultacantidadregistrorecuperacionSoapOut">
    <wsdl:part name="parameters" element="tns:cargarconsultacantidadregistrorecuperacionResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarcredito">
      <wsdl:input message="tns:buscarcreditoSoapIn" />
      <wsdl:output message="tns:buscarcreditoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarresponsables">
      <wsdl:input message="tns:buscarresponsablesSoapIn" />
      <wsdl:output message="tns:buscarresponsablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarcreditosasociados">
      <wsdl:input message="tns:buscarcreditosasociadosSoapIn" />
      <wsdl:output message="tns:buscarcreditosasociadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarcreditoporcif">
      <wsdl:input message="tns:buscarcreditoporcifSoapIn" />
      <wsdl:output message="tns:buscarcreditoporcifSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarcreditoexpedientes">
      <wsdl:input message="tns:buscarcreditoexpedientesSoapIn" />
      <wsdl:output message="tns:buscarcreditoexpedientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarconsultacolocacionesnegocios">
      <wsdl:input message="tns:cargarconsultacolocacionesnegociosSoapIn" />
      <wsdl:output message="tns:cargarconsultacolocacionesnegociosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarconsultacaptacionesnegocios">
      <wsdl:input message="tns:cargarconsultacaptacionesnegociosSoapIn" />
      <wsdl:output message="tns:cargarconsultacaptacionesnegociosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarconsultagistoricocolocaciones">
      <wsdl:input message="tns:cargarconsultagistoricocolocacionesSoapIn" />
      <wsdl:output message="tns:cargarconsultagistoricocolocacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarconsultagistorrecuperacion">
      <wsdl:input message="tns:cargarconsultagistorrecuperacionSoapIn" />
      <wsdl:output message="tns:cargarconsultagistorrecuperacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarconsultagistoricocolo">
      <wsdl:input message="tns:cargarconsultagistoricocoloSoapIn" />
      <wsdl:output message="tns:cargarconsultagistoricocoloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarconsultacantidadregistrocolocaciones">
      <wsdl:input message="tns:cargarconsultacantidadregistrocolocacionesSoapIn" />
      <wsdl:output message="tns:cargarconsultacantidadregistrocolocacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarconsultacantidadregistrocaptaciones">
      <wsdl:input message="tns:cargarconsultacantidadregistrocaptacionesSoapIn" />
      <wsdl:output message="tns:cargarconsultacantidadregistrocaptacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarconsultacantidadregistrorecuperacion">
      <wsdl:input message="tns:cargarconsultacantidadregistrorecuperacionSoapIn" />
      <wsdl:output message="tns:cargarconsultacantidadregistrorecuperacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarcredito">
      <soap:operation soapAction="http://tempuri.org/buscarcredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarresponsables">
      <soap:operation soapAction="http://tempuri.org/buscarresponsables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarcreditosasociados">
      <soap:operation soapAction="http://tempuri.org/buscarcreditosasociados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarcreditoporcif">
      <soap:operation soapAction="http://tempuri.org/buscarcreditoporcif" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarcreditoexpedientes">
      <soap:operation soapAction="http://tempuri.org/buscarcreditoexpedientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarconsultacolocacionesnegocios">
      <soap:operation soapAction="http://tempuri.org/cargarconsultacolocacionesnegocios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarconsultacaptacionesnegocios">
      <soap:operation soapAction="http://tempuri.org/cargarconsultacaptacionesnegocios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarconsultagistoricocolocaciones">
      <soap:operation soapAction="http://tempuri.org/cargarconsultagistoricocolocaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarconsultagistorrecuperacion">
      <soap:operation soapAction="http://tempuri.org/cargarconsultagistorrecuperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarconsultagistoricocolo">
      <soap:operation soapAction="http://tempuri.org/cargarconsultagistoricocolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarconsultacantidadregistrocolocaciones">
      <soap:operation soapAction="http://tempuri.org/cargarconsultacantidadregistrocolocaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarconsultacantidadregistrocaptaciones">
      <soap:operation soapAction="http://tempuri.org/cargarconsultacantidadregistrocaptaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarconsultacantidadregistrorecuperacion">
      <soap:operation soapAction="http://tempuri.org/cargarconsultacantidadregistrorecuperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarcredito">
      <soap12:operation soapAction="http://tempuri.org/buscarcredito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarresponsables">
      <soap12:operation soapAction="http://tempuri.org/buscarresponsables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarcreditosasociados">
      <soap12:operation soapAction="http://tempuri.org/buscarcreditosasociados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarcreditoporcif">
      <soap12:operation soapAction="http://tempuri.org/buscarcreditoporcif" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarcreditoexpedientes">
      <soap12:operation soapAction="http://tempuri.org/buscarcreditoexpedientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarconsultacolocacionesnegocios">
      <soap12:operation soapAction="http://tempuri.org/cargarconsultacolocacionesnegocios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarconsultacaptacionesnegocios">
      <soap12:operation soapAction="http://tempuri.org/cargarconsultacaptacionesnegocios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarconsultagistoricocolocaciones">
      <soap12:operation soapAction="http://tempuri.org/cargarconsultagistoricocolocaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarconsultagistorrecuperacion">
      <soap12:operation soapAction="http://tempuri.org/cargarconsultagistorrecuperacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarconsultagistoricocolo">
      <soap12:operation soapAction="http://tempuri.org/cargarconsultagistoricocolo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarconsultacantidadregistrocolocaciones">
      <soap12:operation soapAction="http://tempuri.org/cargarconsultacantidadregistrocolocaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarconsultacantidadregistrocaptaciones">
      <soap12:operation soapAction="http://tempuri.org/cargarconsultacantidadregistrocaptaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarconsultacantidadregistrorecuperacion">
      <soap12:operation soapAction="http://tempuri.org/cargarconsultacantidadregistrorecuperacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://10.60.81.3/Web-Service/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://10.60.81.3/Web-Service/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>